<%- include("navbar")%>

<div class="timeline_main">
    <%- include("newpost") %>

<% posts.forEach((post,index) => { %>
        <div class="card">
            <div class="username_card">
                <div>
                    
                    <img class="profile_pic" src="/img/ProfilePictures/<%= post.username %>.jpg" alt="&nbsp">
                    <div class="linfo_card">
                        <a href="/<%= post.username%>"><p>@<%= post.username %></p></a>
                        <p style="font-weight: 400; color:#95a5a6" class="linfo_card-location">lokacija: pekol</p>
                    </div>
                </div>     
            </div>
            
            <div class="main_card">
                <img src="/posts/<%= post.photoname %>" alt="">
            </div>
    
            <div class="sidebar_card">
                <div class="upvote-downvote">
                    <svg class="upvote">
                        <use href="#upvote"></use>
                    </svg>
                    <svg class="downvote">
                        <use href="#downvote"></use>
                    </svg>
                </div>
                <div class="date-uplodaded"><p><%=post.dateuploaded.toDateString()%></p></div>
            </div>
    
            <div class="card_description">
                <p><%= post.description %></p>
            </div>
        </div>
<% }) %> 
</div>

<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg">
    <symbol id="upvote" viewBox="0 0 477.18 252.06">
        <path d="M229.07 3.88L4 228.98a13.51 13.51 0 1019.1 19.1l215.5-215.5 215.5 215.5a13.55 13.55 0 0023.1-9.5 13.17 13.17 0 00-4-9.5L248.1 3.98a13.43 13.43 0 00-19-.1z"/>
    </symbol>
</svg>

<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg">
    <symbol id="downvote" viewBox="0 0 477.18 252.06">
        <path d="M248.1 248.17l225.1-225.1a13.51 13.51 0 00-19.1-19.1L238.6 219.44 23.1 3.97A13.55 13.55 0 000 13.44a13.17 13.17 0 004 9.5l225.1 225.1a13.43 13.43 0 0019 .1z"/>
    </symbol>
</svg>

<script>
    let upvote = document.querySelector('.upvote'),
        downvote = document.querySelector('.downvote');

    upvote.addEventListener('click', _ => {
        if(upvote.classList[1] == 'voted-green') {
            upvote.classList.remove('voted-green');
        } else {
            upvote.classList.add('voted-green');
            downvote.classList.remove('voted-red');
        }
        
    });

    downvote.addEventListener('click', _ => {
        if(downvote.classList[1] == 'voted-red') {
            downvote.classList.remove('voted-red');
        } else {
            upvote.classList.remove('voted-green');
            downvote.classList.add('voted-red');
        } 
    });
</script>
 