<%- include("partials/header") %>

<%- include("partials/navbar")%>

<div class="profile-container">
    <div class="profile-info">
        <div><img src="/img/ProfilePictures/<%= profile.profilePic %>" class="profile_picture" alt="profile-picture"></div>
        <div class="profile-info__text">
            <p class="profile-info__text-username">@<%= profile.username %></p>
            <div class="profile-info__text-numberinfo">
                <p class="profile-info__text-numberinfo_posts">Posts: <strong><%= profile.posts.length %</strong></p>
                <p class="profile-info__text-numberinfo_followers">Followers: <strong>10</strong></p>
                <p class="profile-info__text-numberinfo_following">Following: <strong>21</strong></p>
            </div>
            <p class="profile-info__rating">Points: <strong><%= user.points %> </strong></p>
        </div>
    </div>
    <div class="profile-choose">
        <a href="javascript:void(0)" id="photos" class="<% if(activeNow == "photos") { %> <%="a-active"%> <% } %>">Photos</a>
        <a href="javascript:void(0)" id="events" class="<% if(activeNow == "events") { %> <%="a-active"%> <% } %>">Events</a>
    </div>
    <div class="profile-feed-photos">
        <% for(let i = 0; i < profile.postRows; i++) { %>
        <div class="profile-feed-photos-row">
            <% for(let j = i*3; j < (i*3)+3; j++) { %>
                <% if(!profile.posts[j]) break %>
                <img src="/posts/<%= profile.posts[j]%>" class="profile-feed-photos-photo" alt="">
            <% } %>
        </div>
    <% } %>
    </div>
    <div class="profile-feed-events">
        <p>Coming Soon!</p>
    </div>
</div>

<div class="popup-feed-photos">
    <div class="popup-feed-photos-container">
        <img src="/posts/maxresdefault.jpg" alt="">
    </div>
</div>

<script>
    let eventsButton = {
        button: document.querySelector('#events'),
        div: document.querySelector('.profile-feed-events'),
        change: function() {
            this.button.classList.add('a-active');
            this.div.style.display = "block";
            photosButton.remove();
        },
        remove: function() {
            this.button.classList.remove('a-active');
            this.div.style.display = "none";
        }
    }

    let photosButton = {
        button: document.querySelector('#photos'),
        div: document.querySelector('.profile-feed-photos'),
        change: function() {
            this.button.classList.add('a-active');
            this.div.style.display = "block";
            eventsButton.remove();
        },
        remove: function() {
            this.button.classList.remove('a-active');
            this.div.style.display = "none";
        }
    }

    photosButton.button.addEventListener('click', _ => {
        photosButton.change();
    });

    eventsButton.button.addEventListener('click', _ => {
        eventsButton.change();
    });

    let popUp = document.querySelector('.popup-feed-photos');
    let popUpImg = document.querySelector('.popup-feed-photos img');

    let feedPhotos = document.querySelectorAll('.profile-feed-photos-photo');
    feedPhotos.forEach((photo,i) => {
        photo.addEventListener('click', e => {
            let photoName = photo.src.split('/')[4]
            popUp.style.opacity = 1;
            popUp.style.visibility = 'visible';

            popUpImg.src = '/posts/' + photoName;
        })
    });

    popUp.addEventListener('click', e => {
        popUp.style.opacity = 0;
        popUp.style.visibility = 'hidden';
    })
</script>

<%- include("partials/footer") %>